.navbar-nav
{
  margin-left: 50px;
  color: white;
}

.row
{
  padding-top: 20px;
  background-color:black;
}

span { 
  display:block;
  width:150px;
  word-wrap:text-break;
}

td {
  height: 70px;
  vertical-align: middle;
}

#film
{
  color: white ;
}


body
{
  background: #000;
  font-size: larger;
}

